
</div>
<div class="footer-padding">
  
</div>
<div class="footer-padding"></div>
  <div class="footer-up">
    <!-- <img src="https://www.svgrepo.com/show/99205/plus-symbol-button.svg" alt="" srcset="" height="40px" width="40px"> -->
    <a href="/compose"><img src="https://www.svgrepo.com/show/99205/plus-symbol-button.svg" alt="" srcset="" height="40px" width="40px"></a>
  </div>
  <div class="footer">
    <p>©️ Dhruv Gogna</p>
  </div>
</div>
</body>
</html>
